#show-shill {
  padding: 10px 20px; 
  font-size: 18px; 
  background: #fff url(https://i.imgur.com/yrBry1A.png) right center no-repeat !important; 
  border-width: 6px !important;
  border-style: solid !important;
  border-color: rgb(218, 28, 42) rgb(40, 72, 165) !important;
}
.shill-row-thing {
  background: url('https://i.imgur.com/yrBry1A.png') right center no-repeat !important;
  border-left: solid 9px #2848a5 !important;
  border-right: solid 9px #2848a5 !important;
  border-bottom: solid 9px #da1c2a !important;
  border-top: solid 9px #da1c2a !important;
}
